<div style="padding: 5% 10% 10%">
    <h2 style="text-align: center">Vehículos registrados</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tipo de vehículo</th>
                <th scope="col">Placa</th>
                <th scope="col">Cilindraje</th>
                <th scope="col">Fecha-Hora ingreso</th>
                <th scope="col">Retirar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vehiculo of vehiculos">
                <td>{{vehiculo.tipoVehiculo}}</td>
                <td>{{vehiculo.placa | uppercase}}</td>
                <td>{{vehiculo.cilindraje}}</td>
                <td>{{vehiculo.fechaHoraIngreso | date: "dd/mm/yyyy hh:mm a"}}</td>
                <td>
                    <button type="button" (click)="update(vehiculo)">
                        <img src="../assets/salir.png" width="30" height="30">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>