<div style="padding: 5% 20% 20%">
    <h2 style="text-align: center">Salida vehiculo</h2>
    <table class="table">
        <tbody>
            <tr>
                <th scope="col">Tipo vehiculo</th>
                <td>{{vehiculo.tipoVehiculo}}</td>
            </tr>
            <tr>
                <th scope="col">Placa</th>
                <td>{{vehiculo.placa | uppercase}}</td>
            </tr>
            <tr>
                <th scope="col">Fecha-Hora ingreso</th>
                <td>{{vehiculo.fechaHoraIngreso | date: "dd/MM/yyyy hh:mm a"}}</td>
            </tr>
            <tr>
                <th scope="col">Fecha-Hora salida</th>
                <td>{{vehiculo.fechaHoraSalida | date: "dd/MM/yyyy hh:mm a"}}</td>
            </tr>

            <tr>
                <th scope="col">Total a pagar</th>
                <td>{{vehiculo.totalPagar}}</td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-outline-primary" routerLink="/retirar">Ok</button>
</div>